@inject PortfolioMVC.Models.DateFormat Format
@model PortfolioMVC.Models.BlogPost

<article class="about-container post">
    <div>
        <div>
            <figure class="post-figure">
                <img src="/images/uploads/@(Model.ImageName)" alt="@Model.ImageDescription">
            </figure>
            <a href="@Url.Action("Post", "Blog", new { key = Model.Key })" class="post-heading-link">
                <h3 class="post-heading">@Model.Title</h3>
            </a>
            <div class="post-body">
                <p>@Html.Raw(Model.Body.Replace("\n", "</p><p>"))</p>
            </div>
            <div class="post-info">
                <span> @Model.Author | @Model.Posted.ToString("D")</span>
            </div>
        </div>
    <div class="divider"></div>
    </div>
</article>

<partial name="_AdminScripts" />
