@model IEnumerable<PortfolioMVC.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<main>
    @* <h1>About</h1> *@

    <section id="edit-items" class="bg-light section-padding">
        <h2>Projects</h2>
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <div id="edit-items_container" class="row trio">
            @foreach (var item in Model) 
            {
            <div class="portfolio-item">
                <img src="/images/uploads/@(item.ImageName)" asp-append-version="true" alt="">
                <h3>@item.Title</h3>
                <a href="@item.Url" target="_blank">@item.Url</a>
                <p>@item.Description</p>

                <div class="edit-items_controls">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
            }
        </div>
    </section>
</main>
