@model PortfolioMVC.Models.Work
@inject PortfolioMVC.Models.DateFormat Format

@{
    ViewData["Title"] = "Delete";
}

<main>
    @* <h1>About</h1> *@

    <section id="edit-items" class="bg-light section-padding">
        <h2>Delete Work</h2>

        <div id="edit-items_container" class="row trio">
            <div class="resume-item">
                <h4>@Model.Company</h4>
                <span>@Model.Title</span><br>
                <span>@Format.ToReadableDate(Model.DateStart) – @Format.ToReadableDate(Model.DateEnd)</span>
                <p>@Model.Description</p>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn" />
                </form>
            </div>          
        </div>
        <a asp-action="Index">Back to List</a>
    </section>
</main>
