@model IEnumerable<PortfolioMVC.Models.About>

@{
    ViewData["Title"] = "Index";
}
<main>
    @* <h1>About</h1> *@

    <section id="edit-items" class="bg-light section-padding">
        <h2>About Articles</h2>
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <div id="edit-items_container" class="row">
            @foreach (var item in Model) {
                <div class="about-container">
                    <div class="avatar-container">  
                        <div class="avatar" style="background: url('/images/uploads/@(item.ImageName)') no-repeat center center/cover"></div>
                    </div>

                    <div>
                        <div>
                            <h3>@item.Title</h3>
                            @Html.Raw(item.Content)
                            <p>Published: @item.IsPublished</p>
                        </div>
                    </div>
                </div>

                <div class="edit-items_controls">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            }
        </div>
    </section>
</main>
