@model IEnumerable<PortfolioMVC.Models.About>

@{
    ViewData["Title"] = "Index";
}

@section heroContent {
    <div class="hero-content">
      <h1 class="title">About</h1>
      <a href="#edit-items" class="arrow-link"><i class="fas fa-chevron-down fa-3x"></i></a>
    </div>
}

<main>
    <section id="edit-items" class="bg-light section-padding">
        <h2>About Articles</h2>
        <div class="divider"></div>
        <p class="create-new">
            <a asp-action="Create">Create New</a>
        </p>
        <div id="edit-items_container" class="row">
            @foreach (var item in Model) {
                <div class="about-container">
                    <div class="avatar-container">  
                        <div class="avatar" style="background: url('/images/uploads/@(item.ImageName)') no-repeat center center/cover"></div>
                    </div>

                    <div>
                        <div>
                            <h3>@item.Title</h3>
                            @Html.Raw(item.Content)
                            <p>Published: @item.IsPublished</p>
                        </div>
                    </div>
                </div>

                <div class="edit-items_controls">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="edit-control">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="edit-control">Delete</a>
                </div>
            }
        </div>
    </section>
</main>

<partial name="_AdminScripts" />
