@model IEnumerable<PortfolioMVC.Models.Course>
@inject PortfolioMVC.Models.DateFormat Format

@{
    ViewData["Title"] = "Index";
}

<main>
    @* <h1>About</h1> *@

    <section id="edit-items" class="bg-light section-padding">
        <h2>Courses</h2>
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <div id="edit-items_container" class="row trio">
            @foreach (var item in Model) {
                <div class="resume-item">
                    <h4>@item.CourseName</h4>
                    <span>@item.Institution</span><br>
                    <span>@Format.ToReadableDate(item.DateStart) – @Format.ToReadableDate(item.DateEnd)</span>
                    <p>@item.Description</p>

                    <div class="edit-items_controls">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>          
            }
        </div>
    </section>
</main>
