@model IEnumerable<PortfolioMVC.Models.Course>
@inject PortfolioMVC.Models.DateFormat Format

@{
    ViewData["Title"] = "Course - Admin";
}

@section heroContent {
    <div class="hero-content">
      <h1 class="title">Courses</h1>
      <a href="#edit-items" class="arrow-link" aria-label="Scroll down to main content"><i class="fas fa-chevron-down fa-3x"></i></a>
    </div>
}

<main>
    <section id="edit-items" class="bg-light section-padding">
        <h2>Courses</h2>
        <div class="divider"></div>
        <p class="create-new">
            <a asp-action="Create">Create New</a>
        </p>
        <div id="edit-items_container" class="row flex-row trio">
            @foreach (var item in Model) {
                <div class="resume-item">
                    <h4>@item.CourseName</h4>
                    <span>@item.Institution</span><br>
                    <span>@Format.ToReadableDate(item.DateStart) – @Format.ToReadableDate(item.DateEnd)</span>
                    <p>@item.Description</p>

                    <div class="edit-items_controls">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="edit-control">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="edit-control">Delete</a>
                    </div>
                </div>          
            }
        </div>
    </section>
</main>

<partial name="_AdminScripts" />
